@charset 'utf-8';
// ============================================================
//  _common.scss
//    - Setting
//    - Mixin
//    - Function
//    - Base
// ============================================================

@import 'base/reset';

// Mixin
// ============================================================
@import 'base/mixin';

.br {
  &-sp {
    @include mq-up(){
      display: none;
    }
  }
  &-pc {
    display:  none;
    @include mq-up(){
      display: inline;
    }
  }
}